* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 43, 94);
}

img {
  background-color: #fff;
  width: 87%;
  height: 87%;
  border-radius: 10px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.header-text {
  font-size: 80px;
  color: #fff;
  text-shadow: 3px 3px red;
  margin: 80px 0 120px;
}

.content-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.drum {
  background-color: rgb(53, 69, 138);
  width: 160px;
  height: 160px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.drum-letter {
  position: absolute;
  bottom: 30px;
  right: auto;
  color: red;
  text-shadow: 2px 2px #fff;
  font-size: 70px;
  font-weight: 700;
}

.footer-container {
  min-height: 300px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.footer p {
  margin: 100px;
}
